<div class="flex-container flex-between">
  <div class="flex-child">
    <h4 mat-dialog-title>Empleado <mat-icon color="primary">assignment_ind</mat-icon>
    </h4>
  </div>
  <div class="flex-child">
    <button mat-stroked-button color="primary" style="margin-top: 1.5rem;" (click)="goBack()">Regresar</button>
  </div>
</div>
<div class="col s12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{employee.name}} {{employee.apPat}} {{employee.apMat}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col s12 m6">
          <button mat-icon-button matTooltip="Fecha de ingreso" matTooltipPosition="right">
            <mat-icon style="color: teal;">calendar_today</mat-icon>
          </button>
          {{employee.dateUp | date: short}}
        </div>
        <div class="col s12 m6">
          <button mat-icon-button matTooltip="Rol" matTooltipPosition="right">
            <mat-icon style="color: teal;">record_voice_over</mat-icon>
          </button>
          {{employee.role | roles}}
        </div>
        <div class="col s12 m6">
          <button mat-icon-button>
            <mat-icon style="color: teal;">email</mat-icon>
          </button>
          {{employee.email}}
        </div>
        <div class="col s12 m6">
          <button mat-icon-button>
            <mat-icon style="color: teal;">phone</mat-icon>
          </button>
          {{employee.phone}}
        </div>
        <div class="col s12">
          <button mat-icon-button>
            <mat-icon style="color: teal;">business</mat-icon>
          </button>
          {{employee.domicile}}
        </div>
      </div>
      <form [formGroup]="signupFormGroup" (ngSubmit)="updateEmployee()">
        <div class="row">
          <mat-form-field class="col s12 m6" appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="employee.email" matInput formControlName="emailCtrl" required cdkFocusInitial>
            <mat-error *ngIf="signupFormGroup.get('emailCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
            <mat-error
              *ngIf="!signupFormGroup.get('emailCtrl').hasError('required') && signupFormGroup.get('emailCtrl').hasError('email')">
              Debes ingresar un correo válido.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="col s12 m6" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input [(ngModel)]="employee.phone" type="number" matInput formControlName="phoneCtrl" required>
            <mat-error *ngIf="signupFormGroup.get('phoneCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col s12 m4">
            <mat-label>Nombre</mat-label>
            <input [(ngModel)]="employee.name" matInput formControlName="nameCtrl" required>
            <mat-error *ngIf="signupFormGroup.get('nameCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col s6 m4">
            <mat-label>Apellido Paterno</mat-label>
            <input [(ngModel)]="employee.apPat" matInput formControlName="apPatCtrl" required>
            <mat-error *ngIf="signupFormGroup.get('apPatCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col s6 m4">
            <mat-label>Materno</mat-label>
            <input [(ngModel)]="employee.apMat" matInput formControlName="apMatCtrl">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="col s12 l7">
            <mat-label>Dirección</mat-label>
            <input [(ngModel)]="employee.domicile" matInput formControlName="domCtrl" required>
            <mat-error *ngIf="signupFormGroup.get('domCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
          </mat-form-field>
          <div class="col s12 l5">
            <mat-radio-group [(ngModel)]="employee.role" class="row" formControlName="roleCtrl">
              <mat-radio-button value="1" class="col s4 l6 radio-button">Asesor</mat-radio-button>
              <mat-radio-button value="2" class="col s4 l6 radio-button">Mecánico</mat-radio-button>
              <mat-radio-button value="3" class="col s4 l6 radio-button">Aseador</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="signupFormGroup.get('phoneCtrl').hasError('required')">
              Campo obligatorio.
            </mat-error>
          </div>
        </div>
        <div class="row" align="end">
          <button type="submit" mat-raised-button color="primary" [disabled]="signupFormGroup.invalid" class="middle">Modificar</button>
          
          <button mat-raised-button color="warn" class="middle" [swal]="{ title: '¿Deseas eliminar al empleado?', type: 'question', showCancelButton: true, confirmButtonColor: '#3f51b5', cancelButtonColor: '#ff4081', confirmButtonText: 'Eliminar', cancelButtonText: 'Cancelar' }" (confirm)="deleteEmployee()">Eliminar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>