<div class="flex-container flex-between">
    <h1 mat-dialog-title class="flex-child">Registro de vehículo</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="flex-child">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="registerFormGroup" (ngSubmit)="registerNewCar()" class="form-padding" *ngIf="car$.current | async;">

    <mat-horizontal-stepper formArrayName="formArray" linear #stepper>
      <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" [editable]="false">
        <div class="row">
          <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s12 m6">
            <mat-label>Nombre</mat-label>
            <mat-select formControlName="nameCtrl" (selectionChange)="filtering($event.value, 1)" required cdkFocusInitial>
              <mat-option *ngFor="let name of nameList" [value]="name"> {{name}} </mat-option>
            </mat-select>
            <mat-error>Selecciona un vehículo.</mat-error>
          </mat-form-field>
  
          <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s12 m6">
            <mat-label>No. serie</mat-label>
            <input matInput formControlName="serialCtrl" required>
            <mat-error>Ingresa las placas.</mat-error>
          </mat-form-field>
        </div>

        <div align="end">
          <button mat-icon-button matStepperNext type="button"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
      </mat-step>
      <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" [editable]="false">
        
        <div class="row">
          <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s12">
            <mat-label>Versión</mat-label>
            <mat-select formControlName="versionCtrl" (selectionChange)="filtering($event.value, 2)" required>
              <mat-option *ngFor="let version of versionList" [value]="version"> {{version}} </mat-option>
            </mat-select>
            <mat-error>Selecciona una versión.</mat-error>
          </mat-form-field>
        </div>

        <div align="end">
          <button mat-icon-button matStepperNext type="button"><mat-icon>keyboard_arrow_right</mat-icon></button>
        </div>
      </mat-step>
      
      <mat-step formGroupName="2" [stepControl]="formArray?.get([2])" [editable]="false">

        <div class="row">
          <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s12">
            <mat-label>Modelo</mat-label>
            <mat-select type="number" matInput formControlName="modelCtrl" required>
              <mat-option *ngFor="let model of modelList" [value]="model"> {{model}} </mat-option>
            </mat-select>
            <mat-error>Selecciona el modelo.</mat-error>
          </mat-form-field>
        </div>

        <div align="end">
          <button mat-icon-button matStepperPrevious type="button" color="warn" (click)="stepper.reset()"><mat-icon>undo</mat-icon></button>
          <button type="submit" mat-icon-button color="primary" [disabled]="registerFormGroup.invalid"><mat-icon>save</mat-icon></button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>

  </form>