<div class="flex-container flex-between">
  <div class="flex-child">
    <h4 mat-dialog-title>Vehículos <mat-icon color="primary">directions_car</mat-icon>
    </h4>
  </div>
  <div class="flex-child">
    <button mat-stroked-button color="primary" style="margin-top: 1.5rem;" (click)="goBack()">Regresar</button>
  </div>
</div>

<!-- Cars -->
<div class="row">
  
  <mat-tab-group>
    <!-- Lista de carros -->
    <mat-tab label="Lista">
      <div class="tab-content">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
        </mat-form-field>
        
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
  
            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
              <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
            </ng-container>
  
            <!-- Versión Column -->
            <ng-container matColumnDef="version">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Versión </th>
              <td mat-cell *matCellDef="let row"> {{row.version}} </td>
            </ng-container>
  
            <!-- Modelo Column -->
            <ng-container matColumnDef="modelo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
              <td mat-cell *matCellDef="let row"> {{row.modelo}} </td>
            </ng-container>
  
            <!-- Num Column -->
            <ng-container matColumnDef="num_serie">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de serie </th>
              <td mat-cell *matCellDef="let row"> {{row.num_serie}} </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Agrupación">
      <div class="tab-content">
        <div class="flex-container flex-between">
          <div class="flex-child">
            <span>Vehículos <mat-icon color="primary">directions_car</mat-icon></span>
          </div>
          <div class="flex-child">
              <button mat-button [matMenuTriggerFor]="animals">Animal index</button>

              <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
              </mat-menu>
              
              <mat-menu #vertebrates="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                <button mat-menu-item>Birds</button>
                <button mat-menu-item>Mammals</button>
              </mat-menu>
              
              <mat-menu #invertebrates="matMenu">
                <button mat-menu-item>Insects</button>
                <button mat-menu-item>Molluscs</button>
                <button mat-menu-item>Crustaceans</button>
                <button mat-menu-item>Corals</button>
                <button mat-menu-item>Arachnids</button>
                <button mat-menu-item>Velvet worms</button>
                <button mat-menu-item>Horseshoe crabs</button>
              </mat-menu>
              
              <mat-menu #fish="matMenu">
                <button mat-menu-item>Baikal oilfish</button>
                <button mat-menu-item>Bala shark</button>
                <button mat-menu-item>Ballan wrasse</button>
                <button mat-menu-item>Bamboo shark</button>
                <button mat-menu-item>Banded killifish</button>
              </mat-menu>
              
              <mat-menu #amphibians="matMenu">
                <button mat-menu-item>Sonoran desert toad</button>
                <button mat-menu-item>Western toad</button>
                <button mat-menu-item>Arroyo toad</button>
                <button mat-menu-item>Yosemite toad</button>
              </mat-menu>
              
              <mat-menu #reptiles="matMenu">
                <button mat-menu-item>Banded Day Gecko</button>
                <button mat-menu-item>Banded Gila Monster</button>
                <button mat-menu-item>Black Tree Monitor</button>
                <button mat-menu-item>Blue Spiny Lizard</button>
                <button mat-menu-item disabled>Velociraptor</button>
              </mat-menu>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>