<div class="flex-container flex-between">
    <h1 mat-dialog-title class="flex-child">Cita de servicio</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon class="flex-child">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <form [formGroup]="scheduleFormGroup" (ngSubmit)="registerNewService()" class="form-padding" *ngIf="car$.list | async; let cars">
    <div class="row">
      <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s6">
        <mat-label>Fecha</mat-label>
        <input [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dayFilter" matInput [matDatepicker]="picker" formControlName="dateCtrl" required>
        <mat-error *ngIf="scheduleFormGroup.get('dateCtrl').hasError('required')">
          Ingresa una fecha.
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [touchUi]="mobileQuery.matches" #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s6">
        <mat-label>Hora</mat-label>
        <mat-select formControlName="timeCtrl" required>
          <mat-option *ngFor="let hour of hours" [value]="hour">
            {{hour}}:00 hrs
          </mat-option>
        </mat-select>
        <mat-error *ngIf="scheduleFormGroup.get('timeCtrl').hasError('required')">
          Selecciona una hora.
        </mat-error>
      </mat-form-field>
      <mat-form-field hideRequiredMarker=true appearance="legacy" class="col s12">
        <mat-label>Vehículo</mat-label>
        <mat-select formControlName="carCtrl" required>
          <mat-option *ngFor="let car of cars" [value]="car.numserie">
            {{car.nombre}} {{car.version}} <i>{{car.modelo}}</i>, No. serie: {{car.numserie}}
          </mat-option>
          <mat-option *ngIf="cars.length == 0" disabled>No tienes vehículos registrados.</mat-option>
        </mat-select>
        <mat-error *ngIf="scheduleFormGroup.get('carCtrl').hasError('required')">
          Selecciona un vehículo.
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="col s12"
        [disabled]="scheduleFormGroup.invalid">Registrar</button>
    </div>
  </form>