.mt { margin-bottom: 10px; }

.see-item { color: teal; }

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn-actions {
    margin: -7px;
}

tr, th {
    width: 25%;
}