<ngx-loading-bar [color]="'white'"></ngx-loading-bar>
<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
    <button *ngIf="session.isLoggedIn | async" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img routerLink="/home" class="logo router-logo" src="assets/vw.svg" alt="Volkswagen" width="40" height="40">
    <span routerLink="/home" class="router-logo">Volkswagen</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item href="https://system-vw.firebaseapp.com/home" target="_blank">
        <mat-icon>home</mat-icon>
        <span>Página principal</span>
      </a>
      <a mat-menu-item href="https://system-vw.firebaseapp.com/about" target="_blank">
        <mat-icon>feedback</mat-icon>
        <span>Acerca de nosotros</span>
      </a>
      <a mat-menu-item href="https://system-vw.firebaseapp.com/contact" target="_blank">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>Contacto</span>
      </a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="session.isLoggedIn | async"
    [fixedInViewport]="true" fixedTopGap="56">
    <mat-action-list *ngIf="session.isLoggedIn | async">
      <!-- Default actions -->
      <h3 mat-subheader>Usuario</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>{{ session.user.nombre }} {{ session.user.apPat }}</h4>
        <p mat-line>{{ session.user.email }}</p>
      </mat-list-item>
      <mat-list-item routerLink="/settings">
        <mat-icon mat-list-icon>settings</mat-icon>
        <a class="item-link" mat-line>Configuración</a>
      </mat-list-item>
      <mat-list-item [swal]="{ title: '¿Deseas cerrar sesión?', type: 'question', showCancelButton: true, confirmButtonColor: '#3f51b5', cancelButtonColor: '#ff4081', confirmButtonText: 'Sí', cancelButtonText: 'No' }" (confirm)="logOut()">
        <mat-icon mat-list-icon>keyboard_tab</mat-icon>
        <a class="item-link" mat-line>Cerrar sesión</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      
      <!-- Client actions -->
      <div *ngIf="session.user.rol == 'cliente'">
          <h3 mat-subheader>Administrativo</h3>
          <mat-list-item (click)="openDialog('schedule')">
            <mat-icon mat-list-icon>today</mat-icon>
            <a class="item-link" mat-line>Agendar Cita</a>
          </mat-list-item>
          <mat-list-item (click)="openDialog('register')">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>
            <a class="item-link" mat-line>Registrar vehículo</a>
          </mat-list-item>
      </div>

      <!-- Employee actions -->
      <div *ngIf="session.user.rol != 'cliente'">
        <h3 mat-subheader>Listas</h3>
        <mat-list-item routerLink="/clients">
          <mat-icon mat-list-icon>contacts</mat-icon>
          <a class="item-link" mat-line>Clientes</a>
        </mat-list-item>
        <mat-list-item routerLink="/cars">
          <mat-icon mat-list-icon>directions_car</mat-icon>
          <a class="item-link" mat-line>Vehículos</a>
        </mat-list-item>
        <mat-list-item routerLink="/employees" *ngIf="session.user.rol == 'asesor'">
          <mat-icon mat-list-icon>assignment_ind</mat-icon>
          <a class="item-link" mat-line>Empleados</a>
        </mat-list-item>
        <mat-list-item routerLink="/orders">
          <mat-icon mat-list-icon>assignment</mat-icon>
          <a class="item-link" mat-line>Ordenes de servicio</a>
        </mat-list-item>
      </div>
      
    </mat-action-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container main">
      <div class="secondary">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>