<h1 mat-dialog-title>Mis vehículos <mat-icon color="primary">directions_car</mat-icon></h1>
<mat-accordion *ngIf="car$.list | async; let cars; else loading">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="cantidad" matBadgeOverlap="false">Registrados</p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let car of cars">
        <mat-list-item>
          <mat-icon mat-list-icon color="primary">directions_car</mat-icon>
          <h4 mat-line> {{car.nombre}} {{car.version}} {{car.modelo}} </h4>
          <p mat-line> {{car.numserie}} </p>  
        </mat-list-item>
      </div>
    </mat-list>
    <!-- <div class="col s12 m6 l4 xl3" *ngFor="let car of cars">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{car.nombre}}</mat-card-title>
          <mat-card-subtitle>{{car.modelo}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-chip-list>
            <mat-chip color="primary" selected>{{car.numserie}}</mat-chip>
            <mat-chip color="accent" selected>{{car.version}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-card-actions align=end>
          <button mat-icon-button class="see-item" [routerLink]="['/car', car.idautomovil]"><mat-icon>visibility</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="orders2 | async; let orders">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>En servicio</p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let order of orders">
        <mat-list-item>
          <mat-icon mat-list-icon color="primary">directions_car</mat-icon>
          <h4 mat-line> {{order.automovil.nombre}} {{order.automovil.version}} {{order.automovil.modelo}} ({{order.cita.numserie}})</h4>
          <p mat-line> {{order.cita.fecha | date: 'short'}} </p>
          <p mat-line> {{order.estado}} </p>
        </mat-list-item>
      </div>
    
    </mat-list>
  </mat-expansion-panel>

</mat-accordion>

<ng-template #loading><app-loading></app-loading></ng-template>

<br>

<mat-divider></mat-divider>
<h1 mat-dialog-title>Historial de servicios <mat-icon color="primary">local_library</mat-icon></h1>
<table mat-table [dataSource]="orders" class="mat-elevation-z8">

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let order"> {{order.cita.fecha | date: 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let order"> {{order.automovil.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="numserie">
    <th mat-header-cell *matHeaderCellDef> No. serie </th>
    <td mat-cell *matCellDef="let order"> {{order.cita.numserie}} </td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Versión </th>
    <td mat-cell *matCellDef="let order"> {{order.automovil.version}} </td>
  </ng-container>
  
  <ng-container matColumnDef="modelo">
    <th mat-header-cell *matHeaderCellDef> Modelo </th>
    <td mat-cell *matCellDef="let order"> {{order.automovil.modelo}} </td>
  </ng-container>

  <app-loading *ngIf="isLoading"></app-loading>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>