<section class="animated fadeIn" *ngIf="user$.current | async; let user">
  <div class="flex-container flex-between">
    <h1 mat-card-title class="flex-child">Cita de servicio</h1>
    <h4 class="flex-child">{{cita.fecha | date: 'mediumDate'}} - {{cita.fecha | date: 'shortTime'}}</h4>
  </div>
  <mat-divider></mat-divider>
  <div class="container font-top">
    <!-- <h4>Estado de servicio:</h4> -->
    <!-- <div class="flex-container flex-around">
      <p class="flex-child">
        <span *ngIf="order.dateDelivery == null; else deliverySpan">En servicio o en espera de entrega.</span>
        <ng-template #deliverySpan>Fecha de entrega: {{order.dateDelivery | date: short}}</ng-template>
      </p>
      <div class="flex-child">
        <div *ngIf="order.dateDelivery == null; else deliveryIcon">
          <button mat-icon-button color="warn">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <ng-template #deliveryIcon>
          <button mat-icon-button style="color: forestgreen;">
            <mat-icon>check_circle</mat-icon>
          </button>
        </ng-template>
      </div>
    </div> -->
    <h4>Cliente:</h4>
    <div class="row">
      <div class="col s12 animated fadeIn">
        <button mat-icon-button (click)="goToClient(user.idusuario)">
          <mat-icon style="color: teal;">account_box</mat-icon>
        </button>
        {{user.nombre}} {{user.apPat}} {{user.apMat}}
      </div>
    </div>
    <h4>Datos del vehículo:</h4>
    <mat-chip-list class="flex-container flex-around" *ngIf="car$.current | async; let car">
      <mat-chip color="primary" selected class="flex-child">{{car.nombre}}</mat-chip>
      <mat-chip color="accent" selected class="flex-child">{{car.version}}</mat-chip>
      <mat-chip style="background-color: crimson;" selected class="flex-child">{{car.modelo}}</mat-chip>
      <mat-chip style="background-color: teal;" selected class="flex-child">{{cita.numserie}}</mat-chip>
    </mat-chip-list>

    <div *ngIf="router.url == '/home'">
      <!-- <div [ngSwitch]="order.status">
        <div *ngSwitchCase="2">
          <button color="primary" mat-flat-button class="btn-block" *ngIf="employee.role == '1'"
            (click)="updateService(3)">Actualizar</button>
        </div>
        <div *ngSwitchCase="3">
          <button color="primary" mat-flat-button class="btn-block" *ngIf="employee.role == '1'"
            (click)="updateService(4)">Actualizar</button>
        </div>
        <div *ngSwitchCase="4">
          <button color="primary" mat-flat-button class="btn-block" *ngIf="employee.role == '2'"
            (click)="updateService(5)">Actualizar</button>
        </div>
        <div *ngSwitchCase="5">
          <button color="primary" mat-flat-button class="btn-block" *ngIf="employee.role == '3'"
            (click)="updateService(6)">Actualizar</button>
        </div>
      </div> -->
    </div>
    <button color="primary" mat-flat-button class="btn-block" *ngIf="session.user.roles_idroles == 1" (click)="confirmService()">Confirmar</button>
  </div>
</section>

<ng-template #loading><app-loading></app-loading></ng-template>
