<h1 mat-dialog-title>Servicios vigentes <mat-icon color="primary">assignment</mat-icon></h1>
<mat-accordion *ngIf="order$.list | async; let orders">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="status.espera" matBadgeOverlap="false">Citas sin confirmar</p>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="row" *ngIf="date$.list | async; let dates">
      <div *ngFor="let cita of dates">
        <div class="col s12 m6 l4 xl3" *ngIf="cita.confirmacion == 0">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{cita.fecha | date: 'mediumDate'}}</mat-card-title>
              <mat-card-subtitle>{{cita.fecha | date: 'shortTime'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <mat-chip-list>
                <mat-chip color="primary" selected>{{cita.numserie}}</mat-chip>
              </mat-chip-list>
            </mat-card-content>
            <mat-card-actions align=end>
              <button mat-raised-button color="accent" (click)="openService(cita)">Ver orden</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="status.recepcion" matBadgeOverlap="false">Espera de llegada</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
      <div *ngFor="let order of orders">
        <app-view-service *ngIf="order.states_idstates == 1" [order]="order" (reload)="ngOnInit()"></app-view-service>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="status.recepcion" matBadgeOverlap="false">En recepción</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
      <div *ngFor="let order of orders">
        <app-view-service *ngIf="order.states_idstates == 2" [order]="order" (reload)="ngOnInit()"></app-view-service>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="status.reparando" matBadgeOverlap="false">Reparando</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
      <div *ngFor="let order of orders">
        <app-view-service *ngIf="order.states_idstates == 3 || order.states_idstates == 4" [order]="order" (reload)="ngOnInit()"></app-view-service>
      </div>
    </mat-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p [matBadge]="status.lavando" matBadgeOverlap="false">Lavando</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
  
    <mat-list>
      <div *ngFor="let order of orders">
        <app-view-service *ngIf="order.states_idstates == 5" [order]="order" (reload)="ngOnInit()"></app-view-service>
      </div>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>