<section *ngIf="car | async; let car; else loading" class="animated fadeIn">
  <div class="flex-container flex-between">
    <h1 mat-card-title class="flex-child">Orden de servicio</h1>
    <h3 class="flex-child">{{order.dateReception | date: short}} - {{order.time}}:00 hrs</h3>
  </div>
  <mat-divider></mat-divider>
  <div class="container font-top">
    <h4>Estado de servicio:</h4>
    <div class="flex-container flex-around">
      <p class="flex-child">
        <span *ngIf="order.dateDelivery == null; else deliverySpan">En servicio o en espera de entrega.</span>
        <ng-template #deliverySpan>Fecha de entrega: {{order.dateDelivery | date: short}}</ng-template>
      </p>
      <div class="flex-child">
        <div *ngIf="order.dateDelivery == null; else deliveryIcon">
          <button mat-icon-button color="warn">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
        <ng-template #deliveryIcon>
          <button mat-icon-button style="color: forestgreen;">
            <mat-icon>check_circle</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
    <br>
    <h4>Datos del vehículo:</h4>
    <mat-chip-list class="flex-container flex-around">
      <mat-chip color="primary" selected class="flex-child">{{car.name}}</mat-chip>
      <mat-chip color="accent" selected class="flex-child">{{car.version}}</mat-chip>
      <mat-chip style="background-color: crimson;" selected class="flex-child">{{car.model}}</mat-chip>
      <mat-chip style="background-color: teal;" selected class="flex-child">{{car.plates}}</mat-chip>
    </mat-chip-list>
  </div>
</section>
<ng-template #loading>
  <div class="load">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-template>